[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = git@github.com:renkin4/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:renkin4/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:renkin4/imgui.git
	branch = docking